In [1]:
import os

In [16]:
os.chdir('C:/Users/admin/OneDrive/Documents/Desktop/heart_failure dataset.csv')

In [17]:
import pandas as pd

In [19]:
heart_failure=pd.read_csv('C:/Users/admin/OneDrive/Documents/Desktop/heart_failure dataset.csv')
print(heart_failure)

     Unnamed: 0   age anaemia  creatinine_phosphokinase diabetes  \
0             0  75.0      No                       582       No
1             1  55.0      No                      7861       No
2             2  65.0      No                       146       No
3             3  50.0     Yes                       111       No
4             4  65.0     Yes                       160      Yes
..          ...   ...     ...                       ...      ...
294         294  62.0      No                        61      Yes
295         295  55.0      No                      1820       No
296         296  45.0      No                      2060      Yes
297         297  45.0      No                      2413       No
298         298  50.0      No                       196       No

     ejection_fraction high_blood_pressure  platelets  serum_creatinine  \
0                   20                 Yes  265000.00               1.9
1                   38                  No  263358.03               1.1
2                   20                  No  162000.00               1.3
3                   20                  No  210000.00               1.9
4                   20                  No  327000.00               2.7
..                 ...                 ...        ...               ...
294                 38                 Yes  155000.00               1.1
295                 38                  No  270000.00               1.2
296                 60                  No  742000.00               0.8
297                 38                  No  140000.00               1.4
298                 45                  No  395000.00               1.6

     serum_sodium     sex smoking  time  DEATH_EVENT
0             130    Male      No     4            1
1             136    Male      No     6            1
2             129    Male     Yes     7            1
3             137    Male      No     7            1
4             116  Female      No     8            1
..            ...     ...     ...   ...          ...
294           143    Male     Yes   270            0
295           139  Female      No   271            0
296           138  Female      No   278            0
297           140    Male     Yes   280            0
298           136    Male     Yes   285            0

[299 rows x 14 columns]

In [20]:
#Exporting dataset
heart_failure.to_csv('C:/Users/admin/OneDrive/Documents/Desktop/heart_failure dataset.csv')

In [21]:
print(heart_failure)

     Unnamed: 0   age anaemia  creatinine_phosphokinase diabetes  \
0             0  75.0      No                       582       No
1             1  55.0      No                      7861       No
2             2  65.0      No                       146       No
3             3  50.0     Yes                       111       No
4             4  65.0     Yes                       160      Yes
..          ...   ...     ...                       ...      ...
294         294  62.0      No                        61      Yes
295         295  55.0      No                      1820       No
296         296  45.0      No                      2060      Yes
297         297  45.0      No                      2413       No
298         298  50.0      No                       196       No

     ejection_fraction high_blood_pressure  platelets  serum_creatinine  \
0                   20                 Yes  265000.00               1.9
1                   38                  No  263358.03               1.1
2                   20                  No  162000.00               1.3
3                   20                  No  210000.00               1.9
4                   20                  No  327000.00               2.7
..                 ...                 ...        ...               ...
294                 38                 Yes  155000.00               1.1
295                 38                  No  270000.00               1.2
296                 60                  No  742000.00               0.8
297                 38                  No  140000.00               1.4
298                 45                  No  395000.00               1.6

     serum_sodium     sex smoking  time  DEATH_EVENT
0             130    Male      No     4            1
1             136    Male      No     6            1
2             129    Male     Yes     7            1
3             137    Male      No     7            1
4             116  Female      No     8            1
..            ...     ...     ...   ...          ...
294           143    Male     Yes   270            0
295           139  Female      No   271            0
296           138  Female      No   278            0
297           140    Male     Yes   280            0
298           136    Male     Yes   285            0

[299 rows x 14 columns]